.html, body{
    inset: 0;
    position: relative;
    min-height: 100vh;

    overflow-x: hidden;
    overflow-y: auto;

}

.html, body::-webkit-scrollbar{
    display: none;
}

body{
 
    background: #0033ff7a;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


}
